* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.top {
    width: 100%;
    height: 77px;
    background-color: #fff;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;
}


.top_type_area {
    width: 1000px;
    height: 68px;
    margin: 0 auto;
}

.top_type_area>a>img {
    margin-top: 13px;
    width: 132px;
    float: left;
}

.top_type_area>ul {
    float: left;
    width: 490px;
    height: 50px;
    padding: 28px 0 0 40px;
}

.top_type_area>ul>li {
    float: left;
    width: 90px;
    height: 32px;
    font-size: 20px;

}

.top_type_area>ul>li>a {
    color: #333;
}

.top_type_area>ul>li>a:hover {
    color: #fe5341;
    transition: .3s;
}

.top_type_area .nav {
    color: #fe5341;
}

.top_right {
    float: right;
}

.seek {
    display: block;
    width: 42px;
    height: 40px;
    margin: 28px 15px 0 0;
    background: url(../img/search.png) no-repeat;
    float: left;
    transition: 1s;
}

.seek:hover {
    background-size: 65%;
}

.login {
    text-align: center;
    display: block;
    float: right;
    padding: 1px 10px;
    height: 30px;
    line-height: 30px;
    color: #fe5341;
    border: 1px solid #fe5341;
    border-radius: 4px;
    margin-top: 23px;
    margin-right: 10px;
}

.login:hover {
    background-color: #fe5341;
    color: #fff;
    transition: .7s;
}

.bottom {
    width: 100%;
    background-color: #505050;
    padding: 40px 0 15px 0;
}

.bottom_type_area {
    width: 1000px;
    height: 305px;
    margin: 0 auto;
}

.bottom_type_area>dl {
    float: left;
    padding-left: 22px;
    font-family: "Microsoft YaHei", "SimHei", "微软雅黑", "黑体";
    line-height: 20px;
}

.bottom_type_area dl:nth-of-type(1) {
    padding-left: 0px;
}

.bottom_type_area dt {
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;

}

.bottom_type_area dd {
    font-size: 13px;
    color: #a3a3a3;
}

.bottom_type_area dd>a {
    display: inline-block;
    width: 69px;
    height: 20px;
    color: #a3a3a3;
}

.bottom>p {
    margin-top: 80px;
    text-align: center;
    color: #a3a3a3;
    font-size: 13px;
}

#back_Top {
    width: 50px;
    height: 50px;
    background: url(../img/back.png) no-repeat #e8e8e8 center center;
    border-radius: 5px;
    position: fixed;
    right: 150px;
    bottom: 180px;
    cursor: pointer;
    display: none;
}



#back_Top:hover {
    background: url(../img/back.png) no-repeat #C6C6C6 center center;
}


.banner {
    height: 300px;
    width: 100%;
    background: url(../img/original.jpg) no-repeat center top;
    overflow: hidden;
}

.banner_type_area {
    width: 1000px;
    padding-top: 35px;
    margin: 0 auto;
    color: #fff;
    text-align: right;
    transform: translate(240px, -235px);
    animation: applyfor .7s forwards;
}

@keyframes applyfor {
    0% {
        transform: translate(240px, -235px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banner_type_area>h2 {
    font-size: 34px;
    margin-bottom: 15px;
    font-weight: 500;
}

.banner_type_area>p:nth-of-type(1)>span {
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
}

.banner_type_area>p:nth-of-type(2) {
    font-size: 18px;
    margin: 20px 0 16px 0;
}
.apply_for {
    display: block;
    width: 242px;
    height: 48px;
    background-color: #fe5341;
    font-size: 24px;
    color: #fff;
    border-radius: 3px;
    float: right;
    text-align: center;
    line-height: 48px;
}

/* 使用流程 */
.flow{
    width: 1479px;
    height: 75px;
    background-color: #F0F0F0;
    padding: 20px;
}
.flow>.wrap{
    width: 65%;
    height: 70px;
    margin: 0 auto;
    /* background-color: #FFFFFF; */
    padding: 0 0 0 11px;
    border-left: 6px #fe5341 solid;
}
.flow>.wrap>.lcTit{
    width: 58px;
    height: 64px;
    font-size: 20px;
    color: #333333;
    line-height: 34px;
    display: inline-block;
}
.flow>.wrap>ul{
    display: inline-block;
}
.flow>.wrap>ul>li{
    width: 179px;
    height: 64px;
    line-height: 120px;
    text-align: center;
    float: left;
    font-size: 12px;
    color: #737373;
}
.flow>.wrap>ul>li:nth-child(1){
    background: url(../img/use1.png) no-repeat center 10px;
    
}
.flow>.wrap>ul>li:nth-child(2){
    background: url(../img/use2.png) no-repeat center 10px;
}
.flow>.wrap>ul>li:nth-child(3){
    background: url(../img/use3.png) no-repeat center 10px;
}
.flow>.wrap>ul>li:nth-child(4){
    background: url(../img/use4.png) no-repeat center 10px;
}
.flow>.wrap>ul>li:nth-child(5){
    background: url(../img/use5.png) no-repeat center 10px;
}

/* 产品介绍 */
.useIntrowrap{
    width: 980px;
    height: 2625px;
    margin: 0 auto;
    margin-top: 25px;
}
.useIntrowrap>.useDetial{
    width: 700px;
    height: 2270px;
    float: left;
}
.useIntrowrap>.useDetial>h3{
    height: 30px;
    padding: 0 0 0 16px;
    font-size: 20px;
    border-left: 6px solid #FE5341;
    font-weight: 400;
}
.useIntrowrap>.useDetial>.top1{
    height: 48px;
    color: #FF0000;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}
.useIntrowrap>.useDetial>.topic{
    color: #0070C0;
    font-weight: 600;
}
.useIntrowrap>.useDetial>.blue{
    color: #0177A7;
}
.useIntrowrap>.useDetial>.red{
    color: #FF0000;
    font-weight: 600;
}
.useIntrowrap>.useDetial>.text>span{
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}
/*  渠道 体验师  */
.useIntrowrap>.listR{
    width: 270px;
    height: 1000px;
    float: right;
}
.useIntrowrap>.listR>h2{
    height: 30px;
    padding: 0 0 0 16px;
    font-size: 20px;
    border-left: 6px solid #FE5341;
    font-weight: 400;
}
.useIntrowrap>.listR>.money{
    font-size: 40px;
    color: #fe5341;
}
.useIntrowrap>.listR>a{
    width: 270px;
    height: 48px;
    display: inline-block;
    color: #FFFFF9;
    background-color: #FE5341;
    text-align: center;
    line-height: 48px;
    font-weight: 600;
}
.useIntrowrap>.listR>.resource{
    height: 22px;
    color: #a3a3a3;
    font-size: 14px;
    text-align: center;
}
.useIntrowrap>.listR>h5{
    font-size: 16px;
}
.useIntrowrap>.listR>.text{
    color: #a3a3a3;
    font-size: 14px;
}

/* 热门试用 */
.useIntrowrap>.common{
    width: 1000px;
    height: 400px;
    /* background-color: #e8e8e8; */
    margin: 0 auto;
    float: left;
}
.useIntrowrap>.common>.title{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}
.useIntrowrap>.common>.title>a{
    float: right;
    font-size: 14px;
    color: #FD6959;
    font-weight: 500;
}
.useIntrowrap>.common>.use{
   width: 1000px;
   height: 300px;
   position: relative;
}
.useIntrowrap>.common>.use>.content1{
    width: 222px;
    height: 281px;
    border: 1px solid #E6E9E9;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.useIntrowrap>.common>.use>.content1>img{
    width: 222px;
    height: 130px;
}
.useIntrowrap>.common>.use>.content1>h2{
    font-size: 17px;
    color: #333333;
    text-align: center;
}
.useIntrowrap>.common>.use>.content1>p{
    text-align: center;
}
.useIntrowrap>.common>.use>.content1>.tabs>span{
    width: 50px;
    height: 25px;
    border: 1px solid #FE5341;
    margin: 10px 15px ;
    border-radius: 10px;
    font-size: 12px;
    color: #FE5341;
    display: inline-block;
    line-height: 25px;
}
.useIntrowrap>.common>.use>.content1>.sq>span{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content1>.current{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content1>.shoufa{
    width: 40px;
    height: 22px;
    background-color: #FE5341;
    border-radius: 8px ;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #F5E8E8;
    border: 1px solid #FE5341;
    position: absolute;
    top: 0;
    right: 0;
}
.useIntrowrap>.common>.use>.content2{
    width: 222px;
    height: 281px;
    border: 1px solid #E6E9E9;
    border-radius: 10px;
    margin: 0 10px;
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 0;
}
.useIntrowrap>.common>.use>.content2>img{
    width: 222px;
    height: 130px;
}
.useIntrowrap>.common>.use>.content2>h2{
    font-size: 17px;
    color: #333333;
    text-align: center;
}
.useIntrowrap>.common>.use>.content2>p{
    text-align: center;
}
.useIntrowrap>.common>.use>.content2>.tabs>span{
    width: 50px;
    height: 25px;
    border: 1px solid #80C269;
    margin: 10px 15px ;
    border-radius: 10px;
    font-size: 12px;
    color: #80C269;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}
.useIntrowrap>.common>.use>.content2>.sq>span{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content2>.current{
    color: #80C269;
}
.useIntrowrap>.common>.use>.content2>.sole{
    width: 76px;
    height: 22px;
    background-color: #FBF4CB;
    border-radius: 8px ;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #C4A96A;
    /* border: 1px solid #FE5341; */
    position: absolute;
    top: 0;
    right: 0;
}
.useIntrowrap>.common>.use>.content3{
    width: 222px;
    height: 281px;
    border: 1px solid #E6E9E9;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    position: absolute;
    left: 520px;
    top: 0;
}
.useIntrowrap>.common>.use>.content3>img{
    width: 222px;
    height: 130px;
}
.useIntrowrap>.common>.use>.content3>h2{
    font-size: 17px;
    color: #333333;
    text-align: center;
}
.useIntrowrap>.common>.use>.content3>p{
    text-align: center;
}
.useIntrowrap>.common>.use>.content3>.tabs>span{
    width: 50px;
    height: 25px;
    border: 1px solid #FE5341;
    margin: 10px 15px ;
    border-radius: 10px;
    font-size: 12px;
    color: #FE5341;
    display: inline-block;
    line-height: 25px;
}
.useIntrowrap>.common>.use>.content3>.sq>span{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content3>.current{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content3>.shoufa{
    width: 40px;
    height: 22px;
    background-color: #FE5341;
    border-radius: 8px ;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #F5E8E8;
    border: 1px solid #FE5341;
    position: absolute;
    top: 0;
    right: 0;
}
.useIntrowrap>.common>.use>.content4{
    width: 222px;
    height: 281px;
    border: 1px solid #E6E9E9;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    position: absolute;
    left: 775px;
    top: 0;
}
.useIntrowrap>.common>.use>.content4>img{
    width: 222px;
    height: 130px;
}
.useIntrowrap>.common>.use>.content4>h2{
    font-size: 17px;
    color: #333333;
    text-align: center;
}
.useIntrowrap>.common>.use>.content4>p{
    text-align: center;
}
.useIntrowrap>.common>.use>.content4>.tabs>span{
    width: 50px;
    height: 25px;
    border: 1px solid #FE5341;
    margin: 10px 15px ;
    border-radius: 10px;
    font-size: 12px;
    color: #FE5341;
    display: inline-block;
    line-height: 25px;
}
.useIntrowrap>.common>.use>.content4>.sq>span{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content4>.current{
    color: #FE5341;
}
.useIntrowrap>.common>.use>.content4>.shoufa{
    width: 40px;
    height: 22px;
    background-color: #FE5341;
    border-radius: 8px ;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #F5E8E8;
    border: 1px solid #FE5341;
    position: absolute;
    top: 0;
    right: 0;
}
